= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.set_donation
%p= @post.description
%p= @post.user.name

= link_to "Home", root_path
= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }